---
import Layout from '../layouts/Layout.astro';
import Articulo from '../components/articulo.astro';

---

<Layout title="Página Principal">
    <h1 class="bg-base-200 grid place-content-center text-6xl font-black text-white">
        INFORMACIÓN
    </h1>

	<div class="mt-10">
        <Articulo />
    </div>
</Layout>
